


body{
  background-color: #02203c;
  scroll-behavior: smooth;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: bold;

}

.bluish{
  
  background-color: #02203c; /* White with 50% opacity */
}


/* .small-width {
  max-width: 50%;
} */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #FFA500;
  border-radius: 40px;
  background-color: #ff1100;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #dbdbed;
  color: #02203c;
  border: 3px solid #02203c;
  border-radius: 5px;
}


h2, h3 {
  margin-top: 0;
}

ul {
  list-style: disc;
  margin-left: 20px;
}

.rounded {
  border-radius: 5px;
}



.icon {
  position: absolute;
  width: 50px;
  height: 50px;
} 

#intro-color {
 background-color: #02203c;
}

footer{
  background-color: #02203c;
  padding-top: 10%;
}

/* #cp{
  padding-top: 7%;
} */

#coursep{
  padding-top: 10%;
}

#algoLogo  {
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 23px;
  margin-right: 10px;

}

#algoLogo1  {
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  letter-spacing: 1px;
  color: #02203c;

}

.navlist{

  text-align: center;
}
.navlist:hover {
  color: #02203c;
}
/* 
Rotate logo */

#logooo {
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #ide {
  border-radius: 2%;
} */

#guru {
  margin-left: 30px;
}

#learner{
  color: #ff1100;
}

#learner:hover{
  color: #02203c;
}

.card-title{
  color: #02203c;
}


/* this is for dropdown button in module */

.btn-round {
  border-radius: 50px;
  padding: 10px 20px;
  border: 2px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-round:focus {
  outline: none;
  background-color: #fff;
  border-color: #999;
}

.btn-round:active {
  background-color: #eee;
  border-color: #999;
}

.btn-round i {
  margin-left: 10px;
  transition: transform 0.3s;
}

.btn-round:active i {
  transform: rotateX(180deg);
}

.comod {
  display: flex;
  justify-content: center;
}
